*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
*.tiff.aux.xml
*.hdf5
spark/src/test/jupyter/.ipynb_checkpoints
.ipynb_checkpoints
metastore_db
.ensime*
tour/jars
tour/*.tiff
scoverage-report*
