ipython==6.2.1
pyspark==2.4.5
gdal==2.4.4
numpy>=1.17.3,<2.0
pandas>=0.25.3,<1.0
shapely>=1.6.4,<1.7
rasterio>=1.1.1,<1.2
folium>=0.10.1,<0.11
geopandas>=0.6.2,<0.7
descartes>=1.1.0,<1.2
pytz
matplotlib
rtree
Pillow
deprecation