.md-left { float: left; }
.md-right { float: right; }
.md-clear { clear: both; }
table { font-size: 80%; }
code { font-size: 0.75em !important; }
table a {
    word-break: break-all;
}
.md-source-file.md-edit {
    visibility: hidden;
}